html
{ }

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Raleway', sans-serif;
    font-size: 0.95em;
    color: #111;
    line-height: 1.4em;
    background: #add9ff;
    width: 900px;
    margin: 10px auto 0px auto;
}

h1, h2, h3, h4, h5, h6
{
    padding: 0 0 5px 0;
}

h2
{
    font-size: 1.2em;
}

h3
{
    font-size: 1.1em;
}

a, a:hover
{
    outline: none;
    text-decoration: none;
    border-bottom: 1px solid #000;
    color: #000;
}

p
{
    line-height: 1.5em;
    padding-bottom: 17px;
}

ul
{
    margin: 2px 0 12px 0;
}

ul li
{
    list-style-type: none;
    background: url(bullet.png) no-repeat;
    margin: 0 0 0 0;
    padding: 0 0 4px 25px;
    line-height: 1.5em;
}

ol
{
    margin: 8px 0 22px 0;
}

ol li
{
    margin: 0 0 11px 20px;
}

.left
{
    float: left;
    width: auto;
    margin-right: 10px;
}

.right
{
    float: right;
    width: auto;
    margin-left: 10px;
}

.center
{
    display: block;
    text-align: center;
    margin: 20px auto;
}

#content
{
    padding: 0px;
    border: 1px solid #777;
    position: relative;
    z-index: 20;
    background: #defff4;
}

.accordion_headings
{
    font: bold 1.5em 'Syncopate', sans-serif;
    padding: 10px 25px 8px 25px;
    background: #007e45;
    color: #fff;
    border: 0;
    position: relative;
    z-index: 20;
}

.accordion_child
{
    padding: 25px;
}

#footer p
{
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    color: #444;
    font-size: 80%;
}

#footer a, #footer a:hover, #HCB_comment_box a, #HCB_comment_box a:hover
{
    color: #76786A;
    text-decoration: none;
    border: 0;
}

#HCB_comment_box > h3
{
    height: 0;
    padding: 0;
    visibility: hidden;
}

.search
{
    color: #5D5D5D;
    border: 1px solid #BBB;
    width: 134px;
    padding: 4px;
    font: 100% arial, sans-serif;
}

table
{
    margin: 10px 0 30px 0;
    border-collapse: collapse;
    border: 1px solid #aaa;
}

table tr th
{
    background: #007e45;
    color: #fff;
    border: 0;
    padding: 5px 7px;
    text-align: left;
}

table tr td
{
    background: #fff;
    color: #47433F;
    border: 0;
    padding: 7px 7px;
    text-align: left;
}
